SHELL       = /bin/bash
LOGFILE     = $HOME/mail-ingress.log
LOGABSTRACT = "all"
VERBOSE     = "on" 
PATH	    = $HOME/Python/Envs/tactical-communication/bin:$PATH:$HOME
ATTACHMENT_DEST = /var/tactical/ingress/attachments
UUID=`uuidgen`
TS=`date -u +'%Y%m%d%H%M%S-%N'`

# get@tactical.io
:0
* ^TOget@tactical.io
{
	# Process the get@tactical.io email.
	:0 c
	| $HOME/get-tactical-ingress $UUID $ATTACHMENT_DEST
	
	# Handle Attachments and Body Text
	:0 
	| /usr/bin/ripmime --unique_names --name-by-type -v -i "-" -d "$ATTACHMENT_DEST/${UUID}_${TS}" && $HOME/publish-attachments -a /var/tactical/ingress/attachments -t /var/tactical/activity
}
