SHELL       = /bin/bash
#LOGFILE     = $HOME/pm.log
LOGABSTRACT = "all"
VERBOSE     = "on" 
PATH	    = /home/noahcampbell/Development/Python/Envs/tactical-communication/bin:$PATH:$HOME/Projects/tactical/tactical-communication/mail-ingres

:0
| get-tactical-ingress
